<h3>Create a Recommendation</h3>

<form action="/create" method="post">
    <input type="text" name="place" value="" placeholder="Name of Place">
    <input type="text" name="type_of_place" value="" placeholder="Type_of_Place">
    <input type="text" name="contributor" value="" placeholder="Your Name">
    <input type="text" name="notes" value="" placeholder="Any Notes?">
    <input type="submit" value="Add this Place">
</form>
